.form_box {
    background-color: white;
    margin: 5%;
    border-radius: 10px;
    min-width: 100%;
}

.title_page {
    min-width: 100%;
    margin-top: 10px;
    color: white;
    text-align: left;
}

.form_leads {
    min-width: 95%;
    margin: 10px;
}

.btn_cancelar {
    text-align: left;
}

.btn_salvar {
    text-align: right;
}