.table {
    // border: solid;
    // border-color: black;
    // background-color: red;
}

.column_header {
    text-align: left;
    color: #FFFFFF;
}

.table_contant {
    background-color: #FFFFFF;
}

.form_search {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    min-width: 90%;
}

.form{
    // margin-left: 10%;
    // margin-right: 10%;
}

.form_label{
    text-align: left;
    color: #020202;
}

.title{
    margin: 10px;
    float: left;
}

.title_page_table{
    // margin-top: 10px;
    color: white;
    text-align: left;
}

.btn_filtrar{
    margin-bottom: 10px;
}